<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Regra para Single Page Application (SPA)
  # Redireciona tudo que não for arquivo real para o index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>