@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 187 75% 93%;
    --foreground: 222 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 224 100% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 222 84% 4.9%;
    --muted: 220 13% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 254 100% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: 48 96% 59%;
    --warning-foreground: 48 96% 59%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 100% 58%;
    --chart-1: 224 100% 58%;
    --chart-2: 254 100% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 224 100% 58%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 224 100% 58%;
    --sidebar-accent: 224 100% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 224 100% 45%;
    --sidebar-ring: 254 100% 65%;
  }
  .dark {
    --background: 222 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222 84% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 224 100% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 254 100% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --warning: 48 96% 59%;
    --warning-foreground: 48 96% 59%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224 100% 58%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222 84% 4.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 224 100% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 224 100% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
